{% extends "layout.html" %}
{% block title %}lawa{% endblock %}
{% block content %}

<script>
	function $(x) {
		return document.querySelector(x);
	}
</script>

<h3>seme li lon? (jo / ali => sina pilin e nena la nanpa jo li kama ni)</h3>
<form action="/ante-nanpa-ijo" method="POST">
	<table border="1">
	<tr>
		<th>&nbsp;</th>
		<th>ma Mewika</th>
		<th>ma ante</th>
	</tr>
	{% for key in listing %}
	<tr>
		<td>{{ key }}</td>
		<td>{{ stock['available_us'][key] }}/<input type="number" class="inventory-adjuster" name="{{ key }}_US" value="{{ stock['total_us'][key] }}" min="0" max="1000000" required onchange="$('#'+this.name).innerHTML = this.value - ({{ stock['total_us'][key] - stock['available_us'][key] }});"/> => <span id="{{ key }}_US"></span></td>
		<td>{{ stock['available_ante'][key] }}/<input type="number" class="inventory-adjuster" name="{{ key }}_ANTE" value="{{ stock['total_ante'][key] }}" min="0" max="1000000" required onchange="$('#'+this.name).innerHTML = this.value - ({{ stock['total_ante'][key] - stock['available_ante'][key] }});"/> => <span id="{{ key }}_ANTE"></span></td>
	</tr>
	{% endfor %}
	</table>
<input type="submit" value="o ante!" />
</form>

<script>
for(const em of document.querySelectorAll("input[class='inventory-adjuster']")) {
	em.onchange();
}
</script>

<h3>Orders</h3>

{% for status in [1, 2, 3, 4, 5, 0, 6, -1] %}
	<h3>{{status}}: {{status_title[status]}}</h3>
	<ul>
	{% for order in orders %}
		{% if order['status'] == status %}
			<form action="/lawa/ante-e-esun" method="POST">
			<li>
				{{ order["datetime_str"] }}
				<a href="{{visitor_url}}/lukin/{{order['session_id']}}" target="_blank">{{ order["session_id"][:8] }}</a>
				{{ '🇺🇸' if order['warehouse'] == 'US' else '🌍' }}
				<textarea rows="1" cols="15" readonly>{{ order['ip'] }}</textarea>
				<textarea name="ref" cols="15" rows="1" placeholder="REF">{{ order['ref'] if order['ref'] }}</textarea>
				<textarea name="message" rows="1" placeholder="toki">{{ order['message'] if order['message'] }}</textarea>
				<select name="status" required>
					{% for i in [-1, 0, 1, 2, 3, 4, 5, 6] %}
					<option value="{{ i }}" {{"selected" if order['status'] == i }}>{{ i }}: {{ status_map[i] }}</option>
					{% endfor %}
				</select>
				<select name="expired" required>
					<option value="0" {{"selected" if not order['expired'] }}>lukin</option>
					<option value="1" {{"selected" if order['expired'] }}>len</option>
				</select>
				<input type="hidden" name="session_id" value="{{ order['session_id'] }}" />
				<input type="submit" value="o ante!" />
			</li>
			</form>
		{% endif %}
	{% endfor %}
	</ul>
	<hr/>
{% endfor %}


{% endblock %}
